[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv
