[push]
        default = current

# Note: These are a merge from several different people's preferences.
# At some point we should have a pow-wow and determien which are good and
# which should go.  I (☈) mostly only use the others from git-dots/bin/*,
# because they're one space briefer.
[alias]
        aa = add --all
        amend = commit --amend
        b = branch
        br = branch
        c = commit
        changes=diff --name-status -r
        ci = commit -v
        co = checkout
        dc = diff --cached
        df = diff
        di = diff
        diffstat=diff --stat -r
        head = !git l -1
        h = !git head
        ign = ls-files -o -i --exclude-standard
        la = !git l --all
        lc = log ORIG_HEAD.. --stat --no-merges --pretty=format:'%Cred%h%Creset %Cgreen(%cr) %C(bold blue)<%an>:\n%C(yellow)%d%Creset %s %Creset\n'
        l = "!git_pretty_log"
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lg = log -p
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lp = log -p
        ls = ls-files
        pom = push origin master
        pullff = pull --ff-only
        ra = !git r --all
        r = !git l -30
        s = status -s
        st = status
        w = whatchanged

[color]
        ui = auto
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        pager = true

[color "diff"]
        new = green
        old = yellow

[core]
        excludesfile = ~/.gitignore_global
        # some systems set $LESS, which causes git to refuse to override.
        pager = less -FRX

[merge]
        tool = vimdiff
[diff]
        tool = vimdiff
[advice]
        statusHints = false
[interactive]
        singlekey = true
